<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<span th:text="${result}" style="color:red"></span>
<h2 th:text="${msg}"></h2>
<form action="#" th:action="@{/updateProduct}" method="post" th:object="${product}">
	<label>PId</label>
	<input type="number" name="pid" th:field="*{pid}"/><br/>
	<label>Price</label>
	<input type="number" name="price" th:field="*{price}"/><br/>
	<input type="submit" value="Update Product"/>
	<input type="reset" value="reset"/>
</form>
<br/>
<a href="/">Back</a>
</body>
</html>